.pagination{
  .page-link{
    font-family: 'Noto Serif TC';
    font-weight: 700;
    border: 1px solid $primary;
    background-color: transparent;

    &:hover{
      background-color: $dark;
      color: $secondary;
    }

    i{
      margin: 8px -2px;
    }
  }
}