.logo{
  display: block;
  background-image: url(/assets/images/logo.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.search-box{
  border: 2px solid $primary;

  input::placeholder{
    // padding: 8px 8px 8px 16px;
    font-family: 'Noto Sans TC';
    color: #878787;
  }

  i:hover{
    color: $secondary;
  }
}