<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>★Guideline︱主線任務六：售票網站</title>
    <%- include('./layout/meta'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="container mb-30">
      <h1 class="yeseva-one fs-3 mb-30">Guideline</h1>
      <hr class="my-30">
      <h2 class="my-48">Button</h2>
      <div class="row g-0">
        <div class="col-4 border border-1 d-grid">
          <button type="button" class="btn btn-primary px-auto text-center d-block">button-查看活動詳情<i class="icofont-rounded-double-right fs-16 ms-4"></i></button>
        </div>
        <div class="col-4 border border-1 d-grid">
          <button type="button" class="btn btn-primary" disabled>button-查看活動詳情 >></button>
        </div>
        <div class="col-4 border border-1">
          <a class="btn btn-primary text-center d-block">a-link-查看活動詳情<i class="icofont-rounded-double-right fs-16 ms-4"></i></a>
        </div>
      </div>
      <hr class="my-30">
      <h2 class="my-20">Card</h2>
      <div class="row g-0">
        <div class="col-4">
          <div class="card border-0">
            <div class="card-body">
              <h3 class="card-title yeseva-one fs-48 border border-3 border-top-0 border-start-0 border-end-0 border-primary">19 MAY 2023</h3>
              <img src="/assets/images/event/01.jpg" class="card-img-top mb-12" alt="...">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">邪典電影派對——房間</p>
              <p class="card-text mb-16">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="row align-items-center border border-2 border-start-0 border-end-0 border-dark g-0 py-12">
                <div class="col-6"><a href="#" class="link-social"><img class="me-4" src="/assets/images/sparkler.png">社群活動</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card border-0">
            <div class="card-body">
              <h3 class="card-title yeseva-one fs-48 border border-3 border-top-0 border-start-0 border-end-0 border-primary">19 MAY 2023</h3>
              <img src="/assets/images/event/01.jpg" class="card-img-top mb-12" alt="...">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">邪典電影派對——房間</p>
              <p class="card-text mb-16">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="row align-items-center border border-2 border-start-0 border-end-0 border-dark g-0 py-12">
                <div class="col-6"><a href="#" class="link-social"><img class="me-4" src="/assets/images/sparkler.png">社群活動</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card border-0">
            <div class="card-body">
              <h3 class="card-title yeseva-one fs-48 border border-3 border-top-0 border-start-0 border-end-0 border-primary">19 MAY 2023</h3>
              <img src="/assets/images/event/01.jpg" class="card-img-top mb-12" alt="...">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">邪典電影派對——房間</p>
              <p class="card-text mb-16">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="row align-items-center border border-2 border-start-0 border-end-0 border-dark g-0 py-12">
                <div class="col-6"><a href="#" class="link-social"><img class="me-4" src="/assets/images/sparkler.png">社群活動</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-30">
      <h2 class="my-20">Form</h2>
      <div class="row">
        <div class="col-4 profile-form">
          <label for="account" class="d-block mb-8">帳號</label>
          <input type="text" placeholder="請輸入帳號" class="border border-1 border-primary bg-body py-8 px-16">
        </div>
        <div class="col-4">
          <label for="account" class="d-block mb-8">帳號</label>
          <input type="text" placeholder="請輸入帳號" class="border border-1 border-primary bg-body py-8 px-16">
        </div>
        <div class="col-4">
          <label for="account" class="d-block mb-8">帳號</label>
          <input type="text" placeholder="請輸入帳號" class="border border-1 border-primary bg-body py-8 px-16">
        </div>
      </div>
      <hr class="my-30">
      <h2 class="my-20">components</h2>
      <div class="row">
        <div class="col-3 flex-wrap">
          <h5 class="my-20">標籤</h5>
          <a href="#" class="event-tag fs-16 fw-bold me-8 mb-8">競賽</a>
          <a href="#" class="event-tag fs-16 fw-bold me-8 mb-8">演出</a>
          <a href="#" class="event-tag fs-16 fw-bold me-8 mb-8">交通旅遊</a>
          <a href="#" class="event-tag fs-16 fw-bold me-8 mb-8">課程講座</a>
        </div>
        <div class="col-9">
          <h5 class="my-20">活動集錦的標籤</h5>
          <a href="#" class="py-8 px-16 bg-white noto-tc-serif fw-bold">社群活動</a>
        </div>
        <div class="col-3">
          <h5 class="my-20">分頁器</h5>
          <nav aria-label="Page navigation">
            <ul class="event-pagination pagination">
              <li class="page-item me-8">
                <a class="page-link" href="#" aria-label="Previous">
                  <i class="icofont-arrow-left fs-16"></i>
                </a>
              </li>
              <li class="page-item me-8"><a class="page-link" href="#">1</a></li>
              <li class="page-item me-8"><a class="page-link" href="#">2</a></li>
              <li class="page-item me-8"><a class="page-link" href="#">3</a></li>
              <li class="page-item me-8">
                <a class="page-link" href="#" aria-label="Next"><i class="icofont-arrow-right fs-16"></i></a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-9">
          <h5 class="my-20">登入 LINK</h5>
          <a href="#" class="yeseva-one link-primary me-30"><i class="icofont-ui-file fs-16 me-4"></i>REGISTER</a>
          <a href="#" class="yeseva-one link-primary"><i class="icofont-ui-user fs-16 me-4"></i>LOGIN</a>
        </div>
        <div class="row">
          <div class="col">
            <h5 class="my-20">表格</h5>
            <table class="ticket-table table table-hover">
              <thead>
                <tr>
                  <th scope="col">活動日期</th>
                  <th scope="col">票種</th>
                  <th scope="col">票價</th>
                  <th scope="col">購票</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">2023/5/12</td>
                  <td>普通票</td>
                  <td>$600</td>
                  <td><a href="#" class="btn btn-primary">立即購票</a></td>
                </tr>
                <tr>
                  <td scope="row">2023/5/12</td>
                  <td>改頭換面票（含大改造）</td>
                  <td>$3600</td>
                  <td><a href="#" class="btn btn-primary">立即購票</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="my-30">
      <h2 class="my-20">Text</h2>
      <ul class="d-flex justify-content-between align-items-center border border-3 border-dark list-unstyled px-32 py-24">
        <li class="yeseva-one fs-64">Title</li>
        <li class="noto-tc-serif fs-32 fw-bold">標題名稱</li>
      </ul>
      <p class="yeseva-one fs-36">date font - Yeseva One </p>
      <p class="noto-tc-serif fs-24 fw-bold">次標題名稱 - 24px Noto Serif TC</p>
      <div class="row">
        <div class="col-4">內文 16px 行高24px，內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例內文範例</div>
      </div>
      <p class="fs-64">.fs-64  64px</p>
      <p class="fs-60">.fs-60  60px</p>
      <p class="fs-48">.fs-48  48px</p>
      <p class="fs-36">.fs-36  36px</p>
      <p class="fs-32">.fs-32  32px</p>
      <p class="fs-24">.fs-24  24px</p>
      <p class="fs-20">.fs-20  20px</p>
      <p class="fs-18">.fs-18  18px</p>
      <p class="fs-16">.fs-16  16px</p>
      <p class="fs-14">.fs-14  14px</p>
      <p class="fs-12">.fs-12  12px</p>
    </div>
    <div class="container mb-60">
      <hr class="my-30">
      <style>
        i{
          font-size: 30px;
          margin-right: 15px;
        }
      </style>
      <h2 class="my-48">icons</h2>
      <div class="row">
        <div class="col-6">
          <i class="icofont-ui-file"></i>
          <i class="icofont-ui-user"></i>
          <i class="icofont-search-1"></i>
          <i class="icofont-ui-email"></i>
          <i class="icofont-facebook"></i>
          <i class="icofont-phone"></i>
          <i class="icofont-arrow-left"></i>
          <i class="icofont-arrow-right"></i>
          <i class="icofont-check-circled"></i>
          <i class="icofont-verification-check"></i>
          <i class="icofont-rounded-double-right"></i>
        </div>
        <div class="col-6">
          <span class="material-symbols-outlined fs-3">menu</span>
        </div>
      </div>
      <hr class="my-48">
      <h2 class="my-48">image</h2>
      <div class="row">
        <div class="col-2">
          <img class="w-50" src="/assets/images/cate01.svg" alt="">
        </div>
        <div class="col-2">
          <img class="w-50" src="/assets/images/cate02.svg" alt="">
        </div>
        <div class="col-2">
          <img class="w-50" src="/assets/images/cate03.svg" alt="">
        </div>
        <div class="col-2">
          <img class="w-50" src="/assets/images/cate04.svg" alt="">
        </div>
        <div class="col-2">
          <img class="w-50" src="/assets/images/cate05.svg" alt="">
        </div>
        <div class="col-2">
          <!-- <img class="" src="/assets/images/cate05.svg" alt=""> -->
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
