<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動分類頁︱主線任務六：售票網站</title>
    <%- include('./layout/meta'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="container">
      <div class="d-flex justify-content-between align-items-center py-16 px-12 px-md-32 py-md-24 border border-3 border-dark mb-24 mb-md-32">
        <h2 class="yeseva-one fs-24 fs-md-64">Event</h2>
        <p class="noto-tc-serif fs-16 fs-md-32 fw-bold">所有活動</p>
      </div>
      <div class="d-flex mb-12 mb-md-32 ps-4 flex-wrap">
        <a href="#" class="event-tag me-8 mb-8">演出</a>
        <a href="#" class="event-tag me-8 mb-8">音樂</a>
        <a href="#" class="event-tag me-8 mb-8">舞蹈</a>
        <a href="#" class="event-tag me-8 mb-8">戲劇</a>
        <a href="#" class="event-tag me-8 mb-8">音樂會</a>
        <a href="#" class="event-tag me-8 mb-8">課程講座</a>
        <a href="#" class="event-tag me-8 mb-8">社群活動</a>
        <a href="#" class="event-tag me-8 mb-8">展覽</a>
        <a href="#" class="event-tag me-8 mb-8">研討會</a>
        <a href="#" class="event-tag me-8 mb-8">電影</a>
        <a href="#" class="event-tag me-8 mb-8">電音派對</a>
        <a href="#" class="event-tag me-8 mb-8">遊戲競賽</a>
        <a href="#" class="event-tag me-8 mb-8">親子</a>
        <a href="#" class="event-tag me-8 mb-8">藝文活動</a>
        <a href="#" class="event-tag me-8 mb-8">運動</a>
        <a href="#" class="event-tag me-8 mb-8">交通旅遊</a>
        <a href="#" class="event-tag me-8 mb-8">美食</a>
        <a href="#" class="event-tag me-8 mb-8">資訊科技</a>
        <a href="#" class="event-tag me-8 mb-8">聯誼</a>
        <a href="#" class="event-tag me-8 mb-8">戶外</a>
        <a href="#" class="event-tag me-8 mb-8">線上活動</a>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">19 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/01.jpg" class="card-img-top mb-12" alt="邪典電影派對——房間">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">邪典電影派對——房間</p>
              <p class="recent-summary card-text mb-16">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">社群活動</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">23 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/02.jpg" class="card-img-top mb-12" alt="怪舞俱樂部">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">怪舞俱樂部</p>
              <p class="recent-summary card-text mb-16">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">演出</a></div>
                <div class="col-6 text-end"><a href="event-content.html" class="link-sale fs-16 fw-bold">檢視活動<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">30 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/03.jpg" class="card-img-top mb-12" alt="哈利波特馬拉松">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">哈利波特馬拉松</p>
              <p class="recent-summary card-text mb-16">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">聯誼</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">12 June 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/04.jpg" class="card-img-top mb-12" alt="皮卡丘排球大賽">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">皮卡丘排球大賽</p>
              <p class="recent-summary card-text mb-16">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">競賽遊戲</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-48 border-bottom border-3 border-primary">25 June 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/05.jpg" class="card-img-top mb-12" alt="酒精路跑">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">酒精路跑</p>
              <p class="recent-summary card-text mb-16">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">社群活動</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-48 border-bottom border-3 border-primary">9 July 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/06.jpg" class="card-img-top mb-12" alt="展覽——我的房間">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">展覽——我的房間</p>
              <p class="recent-summary card-text mb-16">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">展覽</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">19 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/07.jpg" class="card-img-top mb-12" alt="野營音樂祭">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">野營音樂祭</p>
              <p class="recent-summary card-text mb-16">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">洟出</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">23 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/08.jpg" class="card-img-top mb-12" alt="疊疊樂大賽">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">疊疊樂大賽</p>
              <p class="recent-summary card-text mb-16">來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">競賽遊戲</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">30 MAY 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/09.jpg" class="card-img-top mb-12" alt="返老還童-制服聯誼">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">返老還童-制服聯誼</p>
              <p class="recent-summary card-text mb-16">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">聯誼</a></div>
                <div class="col-6 text-end"><a href="event-content.html" class="link-sale fs-16 fw-bold">檢視活動<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-32 fs-md-48 border-bottom border-3 border-primary">12 June 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/10.jpg" class="card-img-top mb-12" alt="野外求生17天">
              <p class="noto-tc-serif fs-18 fs-md-24 fw-bold mb-12">野外求生17天</p>
              <p class="recent-summary card-text mb-16">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">戶外</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-48 border-bottom border-3 border-primary">25 June 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/11.jpg" class="card-img-top mb-12" alt="耳熟能詳音樂祭">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">耳熟能詳音樂祭</p>
              <p class="recent-summary card-text mb-16">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">演出</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-24 mb-md-48">
          <div class="card border-0">
            <div class="card-body p-0">
              <h3 class="card-title yeseva-one fs-48 border-bottom border-3 border-primary">9 July 2023</h3>
              <img class="recent-img mb-8 mb-md-12" src="/assets/images/event/12.jpg" class="card-img-top mb-12" alt="野營發呆大賽">
              <p class="noto-tc-serif fs-24 fw-bold mb-12">野營發呆大賽</p>
              <p class="recent-summary card-text mb-16">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
              <div class="row align-items-center border-top border-bottom border-2 border-primary g-0 py-8 py-md-12">
                <div class="col-6"><a href="#" class="link-social d-flex align-items-center"><img class="me-4" src="/assets/images/sparkler.png">競賽遊戲</a></div>
                <div class="col-6 text-end"><a href="#" class="link-sale fs-16 fw-bold" data-bs-toggle="modal" data-bs-target="#forSale">開賣中<i class="icofont-rounded-double-right ms-4 me-0 fs-16"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="event-pagination pagination justify-content-center mb-48 mb-md-60">
          <li class="page-item me-8">
            <a class="page-link" href="#" aria-label="Previous">
              <i class="icofont-arrow-left fs-16"></i>
            </a>
          </li>
          <li class="page-item me-8"><a class="page-link" href="#">1</a></li>
          <li class="page-item me-8"><a class="page-link" href="#">2</a></li>
          <li class="page-item me-8"><a class="page-link" href="#">3</a></li>
          <li class="page-item me-8"><a class="page-link" href="#">4</a></li>
          <li class="page-item me-8"><a class="page-link" href="#">5</a></li>
          <li class="page-item me-8">
            <a class="page-link" href="#" aria-label="Next"><i class="icofont-arrow-right fs-16"></i></a>
          </li>
        </ul>
      </nav>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
